% <<section_name>>
\begin{resumesection}{<<section_name>>}
\begin{itemize}
\setlength\itemsep{-0.3em}
<<% for item in items %>>
\item \textbf{<<item.label>>:} <<item.value>>
<<% endfor %>>
\end{itemize}
\end{resumesection}
