% Technical Skills
\begin{resumesection}{Technical Skills}

\begin{tabular}{@{} >{\bfseries}l @{\hspace{2ex}} l}
<<% for skill in skills %>>
<<skill.category>>: & <<skill.skills_list>> \\[0.15em]
<<% endfor %>>
\end{tabular}

\end{resumesection}
